# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Venv
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

src/player_similarity/matrix
src/player_similarity/build_player_profiles.py
src/player_similarity/similarity_engine.py
src/player_similarity/breakdown/build_similarity_breakdown.py
src/player_similarity/breakdown/create_similarity_markdown_report.py

src/get_data/
src/test.py
src/goal_minute/analyze_goal_timing.py

src/player_archetypes/build player_archetypes.py

data/raw/

# Event ID dosyası nerede bulunursa bulunsun gizlensin
event_ids.txt
**/event_ids.txt
data/processed/goal_minute_analysis/custom_goal_minute_distribution.csv
data/processed/goal_minute_analysis/goal_minute_distribution.csv
data/processed/player_matches_analysis/player_stats_long.csv
data/processed/player_matches_analysis/player_tournament_summary.csv
data/processed/weekly_team_analysis/formation_summary.csv
data/processed/weekly_team_analysis/stage_summary.csv
data/processed/player_similarity/reports
data/processed/player_similarity/player_profiles.csv
data/processed/player_similarity/player_similarity_matrix_long.csv
data/processed/player_similarity/results
data/processed/player_archetypes/transfer_recommendations
data/processed/player_archetypes/model_info.json

docs/images/formation_visuals_v3/
docs/images/player_archetypes/defender_archetype_map.png
docs/images/player_archetypes/midfielder_archetype_map.png
docs/images/player_archetypes/goalkeeper_archetype_map.png

*.zip
*.log

# Environment variables
.env
.env.*